*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 20px;
    display: block;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

ul.designed> li{
    list-style: square;
    margin-left: 5px;  
}

ul li{
    list-style: square;
}

h1{
    font-size: 2rem;
    margin-bottom: 6px;
    color: black;
    text-align: center;
}

h2{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}
a:hover{
    color: rgb(104, 168, 168);
}

.title{
    text-align: center;
}

.info{
  display: flex;
  text-align: center;
  justify-content: center;
}

.contactPara{
    margin-right: 10px;
}
/* DIVIDER DESIGN */

.divider{
    background-color:rgb(205, 219, 219) ;
    border-radius: 3px;
    padding-left: 5px;
    font-family: serif;
    margin: 6px 0;
}

/* PROJECT SECTION */

#project ul li{
    padding-left: 6px;
}

/* STRENGTH SECTION */
#strentgth{
    margin-bottom: 10px;
}

/* linkedin and github section */

.github{
    display: block;
    text-align: right;
}

.resumeInputs{
    display: none;
}

/* FOOTER SECTION */
.footer{
    padding-top: 3%;
}

.footer span{
    color: rgba(42, 114, 114, 0.747);
}

/* PRINT BUTTON */
button{
    padding: 10px 40px;
    border: 1px solid;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    display: block;
    letter-spacing: 0.2em;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(205, 219, 219);
}

button:hover{
    background-color: rgb(126, 212, 212);
}
